<ion-header no-border>
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="ios-arrow-back" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-uppercase">{{"order_history_page.title" | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button> </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div no-data *ngIf="count ==0 && data?.past_order?.length==0">
        <img src="../../../assets/image/no-data-icon-10.jpg" alt="no data">
    </div>
    <div class="ion-margin-horizontal">

        <p class="main_heading" *ngIf="count > 0">{{"order_history_page.current_order" | translate}}</p>
        <div class="card_div" *ngFor="let item of data">
            <ion-item lines="none" (click)="orderDetail(item.id)">
                
                <img *ngIf="data?.details && data?.details.length > 0" [src]="item.details[0].productDetails.mainImage" />
                <ion-label>
                    <h3 class="name"> {{item.trackingCode}}
                        <span class="label label-success" *ngIf="item.paymentMethod === 'cybersource'">Bank Card</span>
                        <span class="label label-success" *ngIf="item.paymentMethod === 'stripe'">Stripe</span>
                        <span class="label label-success" *ngIf="item.paymentMethod === 'paypal'">Paypal</span>
                        <span class="label label-success" *ngIf="item.paymentMethod === 'cod'">COD</span>
                    </h3>
                    <p class="address">{{item?.status}}</p>
                </ion-label>

            </ion-item>

            <ion-label>
                <h3 class="menu">{{"order_history_page.items" | translate}} <span class="ion-float-right">{{item.totalProducts}}</span></h3>
            </ion-label>
            <ion-label>
                <h3 class="menu">{{"order_history_page.ordered_on" | translate}} <span class="ion-float-right">{{item.createdAt | date:'short'}}</span></h3>
            </ion-label>
            <ion-label>
                <h3 class="menu">{{"order_history_page.total_amount" | translate}} <span class="ion-float-right">{{item.userTotalPrice | currency:"USD "}}</span></h3>
            </ion-label>
        </div>

    </div>
</ion-content>